flows (3).json
[{"id":"9f876e09.c7bbb","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3aca9f38.36ea5","type":"ui_form","z":"9f876e09.c7bbb","name":"","label":"Activity","group":"f11ef5e.3814c08","order":3,"width":0,"height":0,"options":[{"label":"tBodyAcc-mean()-X","value":"tb1","type":"number","required":true},{"label":"tBodyAcc-mean()-Y","value":"tb2","type":"number","required":true},{"label":"tBodyAcc-mean()-Z","value":"tb3","type":"number","required":true},{"label":"tBodyGyro-mean()-X","value":"tg1","type":"number","required":true},{"label":"tBodyGyro-mean()-Y","value":"tg2","type":"number","required":true},{"label":"tBodyGyro-mean()-Z","value":"tg3","type":"number","required":true},{"label":"tBodyAcc-entropy()-X","value":"te1","type":"number","required":true},{"label":"tBodyAcc-entropy()-Y","value":"te2","type":"number","required":true},{"label":"tBodyAcc-entropy()-Z","value":"te3","type":"number","required":true},{"label":"tBodyAcc-iqr()-X","value":"ti1","type":"number","required":true},{"label":"tBodyAcc-iqr()-Y","value":"ti2","type":"number","required":true},{"label":"tBodyAcc-iqr()-Z","value":"ti3","type":"number","required":true},{"label":"tBodyAcc-std()-X","value":"ts1","type":"number","required":true},{"label":"tBodyAcc-std()-Y","value":"ts2","type":"number","required":true},{"label":"tBodyAcc-std()-Z","value":"ts3","type":"number","required":true},{"label":"tBodyGyro-std()-X","value":"tgs1","type":"number","required":true},{"label":"tBodyGyro-std()-Y","value":"tgs2","type":"number","required":true},{"label":"tBodyGyro-std()-Z","value":"tgs3","type":"number","required":true},{"label":"tGravityAcc-mean()-X","value":"tgm1","type":"number","required":true},{"label":"tGravityAcc-mean()-Y","value":"tgm2","type":"number","required":true},{"label":"tGravityAcc-mean()-Z","value":"tgm3","type":"number","required":true},{"label":"angle(X,gravityMean)","value":"a1","type":"number","required":true},{"label":"angle(Y,gravityMean)","value":"a2","type":"number","required":true},{"label":"angle(Z,gravityMean)","value":"a3","type":"number","required":true},{"label":"subject","value":"s","type":"number","required":true}],"formValue":{"tb1":"","tb2":"","tb3":"","tg1":"","tg2":"","tg3":"","te1":"","te2":"","te3":"","ti1":"","ti2":"","ti3":"","ts1":"","ts2":"","ts3":"","tgs1":"","tgs2":"","tgs3":"","tgm1":"","tgm2":"","tgm3":"","a1":"","a2":"","a3":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":170,"wires":[["a69eae07.ff7c7","7a8df1ce.389","3c1a7bc0.d679b4","76640837.432ca8","e4fb844e.339e38","c121f2a7.bb4d6","302c2c2c.bc6404","22f05da8.d906e2","30287a46.b7dcd6","7866faab.de6014","bc8383db.574be","cdd6a412.99a7c8","cce7477b.97c908","4276e5a9.1c010c","b6464056.23062","a4b181b.b91ec8","d4965b3c.126978","af2e627.77f58a","d35b5c29.44dcf","90b4ee92.a9bc","50d4765e.46b108","71a90bd7.562e54","c2124dbb.f0458","5cdf692e.730018","3707ff4c.4c13f","a798d6a4.a34768","bce62a69.9f8528"]]},{"id":"a69eae07.ff7c7","type":"debug","z":"9f876e09.c7bbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":220,"y":171,"wires":[]},{"id":"7a8df1ce.389","type":"function","z":"9f876e09.c7bbb","name":"token generation","func":"global.set(\"tb1\",msg.payload.tb1)\nglobal.set(\"tb2\",msg.payload.tb2)\nglobal.set(\"tb3\",msg.payload.tb3)\nglobal.set(\"tg1\",msg.payload.tg1)\nglobal.set(\"tg2\",msg.payload.tg2)\nglobal.set(\"tg3\",msg.payload.tg3)\nglobal.set(\"te1\",msg.payload.te1)\nglobal.set(\"te2\",msg.payload.te2)\nglobal.set(\"te3\",msg.payload.te3)\nglobal.set(\"ti1\",msg.payload.ti1)\nglobal.set(\"ti2\",msg.payload.ti2)\nglobal.set(\"ti3\",msg.payload.ti3)\nglobal.set(\"ts1\",msg.payload.ts1)\nglobal.set(\"ts2\",msg.payload.ts2)\nglobal.set(\"ts3\",msg.payload.ts3)\nglobal.set(\"tgs1\",msg.payload.tgs1)\nglobal.set(\"tgs2\",msg.payload.tgs2)\nglobal.set(\"tgs3\",msg.payload.tgs3)\nglobal.set(\"tgm1\",msg.payload.tgm1)\nglobal.set(\"tgm2\",msg.payload.tgm2)\nglobal.set(\"tgm3\",msg.payload.tgm3)\nglobal.set(\"a1\",msg.payload.a1)\nglobal.set(\"a2\",msg.payload.a2)\nglobal.set(\"a3\",msg.payload.a3)\nglobal.set(\"s\",msg.payload.s)\nreturn msg;","outputs":1,"noerr":0,"x":246,"y":61,"wires":[["1b9708f.5bfa0f7"]]},{"id":"3c1a7bc0.d679b4","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":4,"width":0,"height":0,"name":"","label":"tBodyAcc-mean()-Y","format":"{{msg.payload.tb2}}","layout":"row-spread","x":249,"y":254,"wires":[]},{"id":"1b9708f.5bfa0f7","type":"http request","z":"9f876e09.c7bbb","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":445,"y":62,"wires":[["e2ec8fbe.bc47b","ed30f41c.ddc478"]]},{"id":"e2ec8fbe.bc47b","type":"function","z":"9f876e09.c7bbb","name":"Prediction","func":"var token=msg.payload.token;\nvar tb1=global.get(\"tb1\");\nvar tb2=global.get(\"tb2\");\nvar tb3=global.get(\"tb3\");\nvar tg1=global.get(\"tg1\");\nvar tg2=global.get(\"tg2\");\nvar tg3=global.get(\"tg3\");\nvar te1=global.get(\"te1\");\nvar te2=global.get(\"te2\");\nvar te3=global.get(\"te3\");\nvar ti1=global.get(\"ti1\");\nvar ti2=global.get(\"ti2\");\nvar ti3=global.get(\"ti3\");\nvar ts1=global.get(\"ts1\");\nvar ts2=global.get(\"ts2\");\nvar ts3=global.get(\"ts3\");\nvar tgs1=global.get(\"tgs1\");\nvar tgs2=global.get(\"tgs2\");\nvar tgs3=global.get(\"tgs3\");\nvar tgm1=global.get(\"tgm1\");\nvar tgm2=global.get(\"tgm2\");\nvar tgm3=global.get(\"tgm3\");\nvar a1=global.get(\"a1\");\nvar a2=global.get(\"a2\");\nvar a3=global.get(\"a3\");\nvar s=global.get(\"s\");\nmsg.payload={\"fields\":[\"tBodyAcc-mean()-X\",\"tBodyAcc-mean()-Y\",\"tBodyAcc-mean()-Z\",\"tBodyGyro-mean()-X\",\"tBodyGyro-mean()-Y\",\"tBodyGyro-mean()-Z\",\"tBodyAcc-entropy()-X\",\"tBodyAcc-entropy()-Y\",\"tBodyAcc-entropy()-Z\",\"tBodyAcc-iqr()-X\",\"tBodyAcc-iqr()-Y\",\"tBodyAcc-iqr()-Z\",\"tBodyAcc-std()-X\",\"tBodyAcc-std()-Y\", \"tBodyAcc-std()-Z\",\"tBodyGyro-std()-X\",\"tBodyGyro-std()-Y\",\"tBodyGyro-std()-Z\",\"tGravityAcc-mean()-X\",\"tGravityAcc-mean()-Y\",\"tGravityAcc-mean()-Z\",\"angle(X,gravityMean)\",\"angle(Y,gravityMean)\",\"angle(Z,gravityMean)\",\"subject\"],\"values\":[[tb1,tb2,tb3,tg1,tg2,tg3,te1,te2,te3,ti1,ti2,ti3,ts1,ts2,ts3,tgs1,tgs2,tgs3,tgm1,tgm2,tgm3,a1,a2,a3,s]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":607,"y":34,"wires":[["dedb9fa2.30ec"]]},{"id":"ed30f41c.ddc478","type":"debug","z":"9f876e09.c7bbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":612,"y":125,"wires":[]},{"id":"dedb9fa2.30ec","type":"http request","z":"9f876e09.c7bbb","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be5e6ff7-8d5d-4e2b-94af-f4bc60c27364/deployments/ab68af53-24f0-4cfc-990b-4afb2733658c/online","tls":"","proxy":"","authType":"basic","x":807,"y":31,"wires":[["db5d87d1.928dc8","d08a9daa.4883b"]]},{"id":"db5d87d1.928dc8","type":"debug","z":"9f876e09.c7bbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1021,"y":20,"wires":[]},{"id":"d08a9daa.4883b","type":"function","z":"9f876e09.c7bbb","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1008,"y":90,"wires":[["d8ab57a7.1fe4a8","b593a17b.af4b"]]},{"id":"d8ab57a7.1fe4a8","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":5,"width":0,"height":0,"name":"","label":"Activity","format":"{{msg.payload}}","layout":"row-spread","x":1238,"y":26,"wires":[]},{"id":"b593a17b.af4b","type":"debug","z":"9f876e09.c7bbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":140,"wires":[]},{"id":"76640837.432ca8","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":3,"width":0,"height":0,"name":"","label":"tBodyAcc-mean()-Z","format":"{{msg.payload.tb3}}","layout":"row-spread","x":266,"y":298,"wires":[]},{"id":"e4fb844e.339e38","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":4,"width":0,"height":0,"name":"","label":"tBodyGyro-mean()-X","format":"{{msg.payload.tg1}}","layout":"row-spread","x":276,"y":349,"wires":[]},{"id":"c121f2a7.bb4d6","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":5,"width":0,"height":0,"name":"","label":"tBodyGyro-mean()-Y","format":"{{msg.payload.tg2}}","layout":"row-spread","x":277,"y":392,"wires":[]},{"id":"302c2c2c.bc6404","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":6,"width":0,"height":0,"name":"","label":"tBodyGyro-mean()-Z","format":"{{msg.payload.tg3}}","layout":"row-spread","x":277,"y":429,"wires":[]},{"id":"22f05da8.d906e2","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":7,"width":0,"height":0,"name":"","label":"tBodyAcc-entropy()-X","format":"{{msg.payload.te1}}","layout":"row-spread","x":269,"y":471,"wires":[]},{"id":"30287a46.b7dcd6","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":8,"width":0,"height":0,"name":"","label":"tBodyAcc-mean()-X","format":"{{msg.payload.tb1}}","layout":"row-spread","x":251,"y":216,"wires":[]},{"id":"7866faab.de6014","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":24,"width":0,"height":0,"name":"","label":"tBodyAcc-entropy()-Y","format":"{{msg.payload.te2}}","layout":"row-spread","x":313,"y":509,"wires":[]},{"id":"bc8383db.574be","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":25,"width":0,"height":0,"name":"","label":"tBodyAcc-entropy()-Z","format":"{{msg.payload.te3}}","layout":"row-spread","x":305,"y":542,"wires":[]},{"id":"cdd6a412.99a7c8","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":26,"width":0,"height":0,"name":"","label":"tBodyAcc-iqr()-X","format":"{{msg.payload.ti1}}","layout":"row-spread","x":285,"y":588,"wires":[]},{"id":"cce7477b.97c908","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":27,"width":0,"height":0,"name":"","label":"tBodyAcc-iqr()-Y","format":"{{msg.payload.ti2}}","layout":"row-spread","x":282,"y":638,"wires":[]},{"id":"bce62a69.9f8528","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":28,"width":0,"height":0,"name":"","label":"tBodyAcc-iqr()-Z","format":"{{msg.payload.ti3}}","layout":"row-spread","x":563,"y":523,"wires":[]},{"id":"b6464056.23062","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":29,"width":0,"height":0,"name":"","label":"tBodyAcc-std()-X","format":"{{msg.payload.ts1}}","layout":"row-spread","x":498,"y":156,"wires":[]},{"id":"a4b181b.b91ec8","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":30,"width":0,"height":0,"name":"","label":"tBodyAcc-std()-Y","format":"{{msg.payload.ts2}}","layout":"row-spread","x":513,"y":210,"wires":[]},{"id":"4276e5a9.1c010c","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":31,"width":0,"height":0,"name":"","label":"tBodyAcc-std()-Z","format":"{{msg.payload.ts3}}","layout":"row-spread","x":490,"y":181,"wires":[]},{"id":"d4965b3c.126978","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":32,"width":0,"height":0,"name":"","label":"tBodyGyro-std()-X","format":"{{msg.payload.tgs1}}","layout":"row-spread","x":546,"y":230,"wires":[]},{"id":"af2e627.77f58a","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":33,"width":0,"height":0,"name":"","label":"tBodyGyro-std()-Y","format":"{{msg.payload.tgs2}}","layout":"row-spread","x":517,"y":262,"wires":[]},{"id":"d35b5c29.44dcf","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":34,"width":0,"height":0,"name":"","label":"tBodyGyro-std()-Z","format":"{{msg.payload.tgs3}}","layout":"row-spread","x":519,"y":303,"wires":[]},{"id":"90b4ee92.a9bc","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":35,"width":0,"height":0,"name":"","label":"tGravityAcc-mean()-X","format":"{{msg.payload.tgm1}}","layout":"row-spread","x":526,"y":344,"wires":[]},{"id":"50d4765e.46b108","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":36,"width":0,"height":0,"name":"","label":"tGravityAcc-mean()-Y","format":"{{msg.payload.tgm2}}","layout":"row-spread","x":542,"y":382,"wires":[]},{"id":"c2124dbb.f0458","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":37,"width":0,"height":0,"name":"","label":"tGravityAcc-mean()-Z","format":"{{msg.payload.tgm3}}","layout":"row-spread","x":532,"y":426,"wires":[]},{"id":"3707ff4c.4c13f","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":38,"width":0,"height":0,"name":"","label":"angle(X,gravityMean)","format":"{{msg.payload.a1}}","layout":"row-spread","x":537,"y":466,"wires":[]},{"id":"71a90bd7.562e54","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":39,"width":0,"height":0,"name":"","label":"angle(Y,gravityMean)","format":"{{msg.payload.a2}}","layout":"row-spread","x":574,"y":412,"wires":[]},{"id":"5cdf692e.730018","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":40,"width":0,"height":0,"name":"","label":"angle(Z,gravityMean)","format":"{{msg.payload.a3}}","layout":"row-spread","x":574,"y":458,"wires":[]},{"id":"a798d6a4.a34768","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":41,"width":0,"height":0,"name":"","label":"subject","format":"{{msg.payload.s}}","layout":"row-spread","x":566,"y":500,"wires":[]},{"id":"f11ef5e.3814c08","type":"ui_group","z":"","name":"Classification","tab":"234cb856.ea5558","disp":true,"width":"6","collapse":false},{"id":"234cb856.ea5558","type":"ui_tab","z":"","name":"SmartBridge","icon":"dashboard","disabled":false,"hidden":false}]